@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/* Global reset for body and html to remove default margin/padding */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars due to animation */
  background-color: #191d45;
  color: #e7cfa0;
}
